[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flatten-json = "==0.1.13"
pandas = "==1.2.3"
numpy = "==1.20.1"
boto3 = "==1.17.17"

[dev-packages]
pipenv-setup = "*"
flake8 = "*"
pytest = "*"
pytest-html = "*"
moto = "*"
pytest-cov = "*"
pytest-mock = "*"
autopep8 = "*"

[requires]
python_version = "3"

[scripts]
lint = "flake8 . --count --show-source --statistics"
test = "pytest"
coverage = "pytest --cov-config=.coveragerc --cov-fail-under=65 --cov=src tests"
coverage-missing = "pytest --cov-config=.coveragerc --cov-fail-under=65 --cov-report term-missing --cov=src tests"
